<div class="container">
    <div>
        <h2>Modifier un voiture :</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID voiture</label>
            <input type="text" [(ngModel)]="currentvoiture.idvoiture" name="idvoiture" class="form-control" readonly>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom voiture</label>
            <input type="text" [(ngModel)]="currentvoiture.nomvoiture" name="nomvoiture" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix voiture</label>
            <input type="number" [(ngModel)]="currentvoiture.prixvoiture" name="prixvoiture" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentvoiture.dateCreation | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentvoiture.dateCreation= $event" name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit" (click)="updatevoiture()" class="btn btn-success">Ajouter</button>
        </div>

    </form>
</div>